<span class="created-by">
  Created with ♥ by <b><a href="https://llb.ac-corse.fr" target="_blank">BTS SIO - LLB</a>
    & <a href="https://www.reseaucerta.org" target="_blank">Certa</a></b> {{ year }} - {{ devMode }}
</span>

<div>
  <div>
    <a [routerLink]="['/ecombox/policies']"> Mentions légales et politique de protection des données </a>
  </div>
  <div>
    <a href="https://magistere.education.fr/f1091" target="_blank"> Formations M@gistère </a>
  </div>
</div>
<div class="socials">
  <a href="https://www.reseaucerta.org" target="_blank"><img src="assets/images/logoCerta.gif" height="40"></a>
</div>