@import "../../@theme/styles/themes";

.accordion {
    margin-bottom: 2rem;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
  }