<h1 id="title" class="title">{{ 'auth.title' | translate }}</h1>
<p class="sub-title">{{ 'auth.subtitle' | translate }}</p>
<div style="text-align: center;">
    <img src="assets/images/logoEcomBox.png" height="80" />
</div>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Erreur !</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Succès !</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-email">{{ 'auth.username' | translate }} :</label>
        <input nbInput fullWidth [(ngModel)]="user.username" #username="ngModel" name="username" id="input-username"
            placeholder="{{ 'auth.username' | translate }}" autofocus
            [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'primary'" required="true"
            [attr.aria-invalid]="username.invalid && username.touched ? true : null">
        <ng-container *ngIf="username.invalid && username.touched ">
            <p class="error-message" *ngIf="username.errors?.required">
                {{ 'auth.errors.usernameRequired' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">{{ 'auth.password' | translate }} :</label>
        <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
            id="input-password" placeholder="{{ 'auth.password' | translate }}"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'primary'"
            [required]="getConfigValue('forms.validation.password.required')"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched ">
            <p class="error-message" *ngIf="password.errors?.required">
                {{ 'auth.errors.passwordRequired' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">{{ 'auth.remember' | translate
            }}</nb-checkbox>
        <!--<a class="forgot-password" routerLink="../request-password">Forgot Password?</a>-->
    </div>

    <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        {{ 'auth.submit' | translate }}
    </button>
</form>

<section class="another-action" aria-label="Register">
    {{ 'auth.register' | translate }}
</section>