@import "../../../@theme/styles/themes";
$shadow-green: #00977e;
@include nb-install-component() {
  .progress-info {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }

  .animated.fadeIn.anim-section-statut {
    animation-delay: 1.5s;
  }
  .value {
    font-size: 3rem;
    margin-top: 0.5rem;
  }
  .description {
    margin-top: 0.5rem;
  }
  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }
}
