<div class="header">
    <div>
      <h2>Aide en ligne et accès au support</h2>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Documentation en ligne</nb-card-header>
      <nb-card-body>
        <p class="text-section-aide">
          Une documentation sous forme de Wiki est en ligne à l'adresse <a href="https://wiki-ecombox.btssio.corsica"
            target="_blank">https://wiki-ecombox.btssio.corsica</a>.
        </p>
        <p class="text-section-aide">
          Des formations en libre accès sont disponibles à l’adresse <a href="https://magistere.education.fr/f1091"
            target="_blank"> https://magistere.education.fr/f1091</a>.
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        En cas de problème avec e-comBox
      </nb-card-header>
      <nb-card-body>
        <span class="subtitle"> Avant de contacter le support : </span>
        <ul>
          <li>Assurez-vous d'avoir bien déroulé la <a
              href="https://wiki-ecombox.btssio.corsica/index.php/Trousse_de_premiers_secours_-_v3"
              target="_blank">check-list</a>.
          </li>
          <li>Relisez rapidement la <a href="https://wiki-ecombox.btssio.corsica/index.php/FAQ_-_v4"
              target="_blank">FAQ</a>, la
            réponse à votre question y est peut-être .</li>
        </ul>
        <br />
        <p class="subtitle">
          Si ces vérifications ne permettent pas la résolution de votre problème, vous pouvez déclarer un incident sur
          la plateforme en ligne accessible à l'adresse :
          <a href="https://support-ecombox.btssio.corsica" target="_blank">https://support-ecombox.btssio.corsica</a>
        </p>
        <p>
          L'accès à cette plateforme nécessite un compte que vous pouvez créer facilement et rapidement
          (<a href="https://wiki-ecombox.btssio.corsica/index.php/Contactez_le_support" target="_blank">mode
            opératoire</a>).
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>