<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>{{ 'auth.title' | translate }} {{ 'message.platform' | translate }}</nb-card-header>

            <nb-card-body class="row">
                <div class="col-md-12"> Si vous ne disposez pas de compte {{ 'message.platform' | translate }}, vous
                    pouvez en créer un sur&nbsp;<span><a href="https://hub.docker.com/signup/" target="_blank">
                            hub.docker.com</a></span>.
                </div>
            </nb-card-body>
            <nb-card-body class="row">

                <div class="col-md-3">
                    <input #username fieldSize="medium" nbInput status="primary"
                        placeholder="Identifiant {{ 'message.platform' | translate }}">
                </div>
                <div class="col-md-3">
                    <input #password fieldSize="medium" nbInput status="primary"
                        placeholder="Mot de passe {{ 'message.platform' | translate }}" type="password">

                </div>
                <div class="col-md-3 offset-md-3 buttons-export">
                    <button nbButton status="success" (click)="export(username.value, password.value);"
                        [disabled]="username.value.length === 0 || password.value.length === 0">
                        Valider</button>
                    <button nbButton outline status="danger" (click)="onClose();">
                        Annuler</button>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
</div>