<h1 id="title" class="title">Modifier le mot de passe</h1>
<nb-card>
    <nb-card-header>
        Entrez votre nouveau mot de passe
    </nb-card-header>

    <nb-card-body>
        <nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Erreur !</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            </ul>
        </nb-alert>

        <nb-alert *ngIf="messages?.length && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
            </ul>
        </nb-alert>

        <form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">

            <div class="form-control-group">
                <label class="label" for="input-curpassword">Mot de passe actuel :</label>
                <input nbInput [(ngModel)]="user.curpassword" #curpassword="ngModel" type="password"
                    id="input-curpassword" name="curpassword" class="first" placeholder="Mot de passe actuel" autofocus
                    fullWidth [status]="curpassword.touched ? (curpassword.invalid  ? 'danger' : 'success') : 'primary'"
                    required [attr.aria-invalid]="curpassword.invalid && curpassword.touched ? true : null">
                <ng-container *ngIf="curpassword.invalid && curpassword.touched">
                    <div class="error-message" *ngIf="curpassword.errors?.required">
                        Le mot de passe actuel est requis !
                    </div>
                </ng-container>
            </div>
            <br />
            <div class="form-control-group">
                <label class="label" for="input-password">Nouveau mot de passe :</label>
                <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password" id="input-password"
                    name="password" class="second" placeholder="Nouveau mot de passe" fullWidth
                    [status]="password.touched ? (password.invalid  ? 'danger' : 'success') : 'primary'" required
                    [minlength]="minLength" [maxlength]="maxLength"
                    [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                <ng-container *ngIf="password.invalid && password.touched">
                    <div class="error-message" *ngIf="password.errors?.required">
                        Le mot de passe est requis !
                    </div>
                    <div class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                        Le mot de passe doit contenir
                        entre {{minLength}}
                        et {{maxLength}}
                        caractères
                    </div>
                </ng-container>
            </div>
            <br />
            <div class="form-group">
                <label class="label" for="input-re-password">Confirmation du mot de passe :</label>
                <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" id="input-re-password" name="rePass"
                    type="password" class="last" placeholder="Cofirmation du mot de passe" fullWidth [status]="rePass.touched
               ? (rePass.invalid || password.value != rePass.value ? 'danger' : 'success')
               : 'primary'" required [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
                <ng-container *ngIf="rePass.touched">
                    <div class="error-message" *ngIf="rePass.invalid && rePass.errors?.required">
                        La confirmation du mot de passe est requise !
                    </div>
                    <div class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                        Les deux mots de passe ne correspondent pas.
                    </div>
                </ng-container>
            </div>
            <br />
            <button nbButton status="success" fullWidth [disabled]="submitted || !resetPassForm.valid"
                [class.btn-pulse]="submitted">
                Modifier le mot de passe
            </button>
        </form>
    </nb-card-body>
</nb-card>