@import "../../../@theme/styles/themes";

.marge-gauche {
    margin-left: 0.1rem;
}

.marge-droite {
    margin-left: 0.1rem;
}

.manage-row {
    display: flex;
    align-items: center;
}

nb-toggle {
    padding-top: 0.5rem !important;
}

.text-right {
    padding-right: 0px !important;
}

.select-title {
    text-align: center;
    color: nb-theme(primary);
    border-radius: 0.3rem;
    border-color: nb-theme(primary);
    border-style: solid;
    border-width: 0.08rem;
    padding: 0.5rem;
}