<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Importer un {{ 'message.modelSite' | translate }}</nb-card-header>

            <nb-card-body class="row">
                <div class="col-md-12">Pour importer un {{ 'message.modelSite' | translate }}, veuillez renseigner
                    l'identifiant {{ 'message.platform' | translate }} du créateur du modèle ainsi que le type du {{
                    'message.modelSite' | translate }}.
                </div>
            </nb-card-body>

            <nb-card-body class="row form-import">
                <div class="col-md-3">
                    <input #username (change)="usernameChanged(username.value)" fieldSize="small" nbInput
                        status="primary" placeholder="Identifiant {{ 'message.platform' | translate }}">
                </div>
                <div class="col-md-3">
                    <nb-select placeholder="Type de {{ 'message.modelSite' | translate }}" status="primary" fullWidth
                        size="small">
                        <nb-option *ngFor="let type of serverList" [value]="type" (click)="typeChanged(type)">
                            {{type}}</nb-option>
                    </nb-select>
                </div>
                <div class="col-md-3">
                    <nb-select placeholder="{{ 'message.exist1' | translate }}de site sélectionné" status="primary"
                        fullWidth size="small" [disabled]="username.value.length === 0 || siteType.length === 0">
                        <nb-option *ngFor="let image of imagesList" [value]="image" (click)="nameChanged(image)"
                            (keyup.enter)="import();">
                            {{image}}</nb-option>
                    </nb-select>
                </div>
                <div class="col-md-3 buttons-import">
                    <button nbButton status="success" (click)="import()" [disabled]="modelName.length === 0">
                        Valider</button>
                    <button nbButton outline status="danger" (click)="onClose();">
                        Annuler</button>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
</div>