<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"
      ><img class="img-logo" src="assets/images/logoEcomBox.png" />
    </a>
    <div class="txt-with-logo">e-comBox</div>
  </div>
<div class="container-loading">
  <div *ngIf="loaderService.isLoading | async"
    style="color: #89d4e7; margin-left: 1rem"
    class="la-ball-clip-rotate-pulse"
  >
    <div></div>
    <div></div>
</div>
  </div>
</div>

<div class="actions">
  <nb-actions size="small">
    <nb-action
      nbTooltip="Aide"
      nbTooltipStatus="basic"
      class="control-item"
      icon="question-mark-circle-outline"
      (click)="navigateHelp()"
    >
    </nb-action>
    <nb-action
      nbTooltip="Modifier son mot de passe"
      nbTooltipStatus="basic"
      class="control-item"
      icon="person-outline"
      (click)="profile()"
    >
    </nb-action>
    <nb-action
      nbTooltip="Se déconnecter"
      nbTooltipStatus="basic"
      class="control-item"
      icon="log-out-outline"
      (click)="logout()"
    ></nb-action>
  </nb-actions>
</div>
