<nb-card>
    <nb-card-header>Un modèle du même nom existe déjà !</nb-card-header>
    <nb-card-body>
        <p>Le modèle existant va être remplacé. <br>
            Pour conserver les deux modèles, veuillez changer le nom du nouveau modèle.
        </p>
        <div class="form-group">
            <input #new type="text" nbInput fullWidth id="new" placeholder="Nom du nouveau modèle"
                (keyup.enter)="submit(new.value)" maxlength="10">
        </div>
        <div class="row center">
            <button nbButton class="btn" status="success" [nbPopover]="err" nbPopoverPlacement="bottom"
                (click)="submit(new.value)" [disabled]="new.value.length === 0">Nouveau modèle</button>
            <button nbButton status="success" (click)="valid()">Remplacer le modèle</button>
            <button nbButton status="danger" (click)="cancel()">Annuler</button>
        </div>
    </nb-card-body>
</nb-card>