<nb-alert *ngIf="isDisplaying" status="success" (close)="onClose()" closable>
    <div [innerHTML]="message"></div>
</nb-alert>
<div class="header">
    <div>
        <h2>{{ 'servers.title' | translate:{ serverType: serverType } | titlecase }}<span *ngIf="serverType === 'blog'">
                - WordPress</span></h2>
    </div>
    <div>
        <ecx-server-default-login-credentials *ngIf="serverType !== 'mautic'" type="{{ serverType }}"></ecx-server-default-login-credentials>
    </div>
</div>
<br>
<ecx-servers-create type="{{ serverType }}"></ecx-servers-create>
<ecx-servers-manage type="{{ serverType }}" [custom]="false"></ecx-servers-manage>
<ecx-servers-manage type="{{ serverType }}" [custom]="true"></ecx-servers-manage>